*.pyc
*.log
\.python-version
\.idea/
venv/
fonts/
checkpoints/
tuning_checkpoints/
tuning_data/
corpora/
iam/
temp/
session/
dist/
pretrain_history.csv
words.txt
word_distribution.csv
ngrams.json
my_config.yml
tuning_data.zip
ngram_model.h5
